@import "tailwindcss";

@theme {
  --color-primary-light: #60A5FA;
  --color-primary: #3B82F6;
  --color-primary-dark: #2563EB;
  
  --color-secondary-light: #4ADE80;
  --color-secondary: #22C55E;
  --color-secondary-dark: #16A34A;
  
  --color-accent-light: #FCD34D;
  --color-accent: #FBBF24;
  --color-accent-dark: #F59E0B;
  
  --color-danger: #EF4444;
  --color-info: #3B82F6;


}